{% extends 'base.html' %}

{% block title %} BBI Login {% endblock title %}

{% block content %}
    <div class="container justify-content-center text-center" id="login">
        <br>
        <h2>Welcome</h2>
        <form method="post">
            <div class="container-xs">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" maxlength="150" name="username" id="id_username" placeholder="Username" required>
                    <label for="id_username">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="id_password" placeholder="Password" required>
                    <label for="id_password">Password</label>
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Log In</button>
            </div>
        </form>
    </div>
{% endblock content %}